html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #000;
}

#output {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  font-size: 100px;
}

#output [id^='port-'] {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  color: #fff;
  text-shadow: 0 0 3px 0 #333;
}

#output .name {
  font-size: 70px;
}

#output .data {
  font-size: 120px;
}

#output div:first-child:last-child .name {
  display: none;
}

#output div:first-child:last-child .data {
  font-size: 175px;
}
